
@{
    ViewBag.Title = "New";
}

<h2>Creare Grup</h2>

<form method="post" action="/Group/New">
    <label>Nume grup</label>
    <br />
    <input type="text" name="Name" />
    <br /><br />
    <label>Descriere</label>
    <input type="text" name="Description" />
    <br /><br />
    <button type="submit">Adauga grup</button>
</form>

