
@{
    ViewBag.Title = "AlreadyStatus";
}

<h2>This profile has already this status</h2>
<br />
<h2>You can't change the status to the same status</h2>
<a href="/UserAdmin/Index">Go back to Index</a>

