
@{
    ViewBag.Title = "Show";
}

<h2>Afisare profil</h2>
<h1>@ViewBag.Profile.FirstName</h1>
<br />

<!--<a href="/Categories/Edit/@ViewBag.Category.CategoryId">Modifica categoria</a>
<form method="post" action="/Categories/Delete/@ViewBag.Category.CategoryId">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button type="submit">Sterge categoria</button>
</form>

-->
